.signIn-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 70px;
}
.signIn-description {
  /* background-color: lightblue; */
  width: 30%;
  padding-left: 30px;
  margin-top: 20px;
}
.signIn-description p {
  margin-top: 20px;
  background-color: white;
}
.login-form-container {
  width: 50%;
  /* background-color: deeppink; */
}
